[submodule "third_party/sam3"]
	path = third_party/sam3
	url = https://github.com/hitsz-oyx/sam3.git
[submodule "third_party/fastfoundationstereo"]
	path = third_party/fastfoundationstereo
	url = https://github.com/NVlabs/Fast-FoundationStereo.git
